* {
  margin: 0;
  padding: 0;
}

h1 {
  color: white;
  position: absolute;
  top: 50%;
}

.container {
  
}

.header {
  text-align: center;
}

.toast {
  margin: 0 auto;
}

.banner {
  background-image: url("./images/TableAlt2.jpg");
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
